{% extends "kanban/layout.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'kanban/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="index-main">
    <h1 style="text-align: center;" id="course-courseid">{{ course }}</h1>
    <div class="tab-div">
        <div class="cards" id="cards-backlog">
            <div class="card-header">
                <h3>BACKLOG</h3>
            </div>
        </div>
        <div class="cards" id="cards-todo">
            <div class="card-header">
                <h3>TO DO</h3>
            </div>
        </div>
        <div class="cards" id="cards-done">
            <div class="card-header">
                <h3>DONE</h3>
            </div>
        </div>
    </div>
    <div id="modal" class="none">
        <form id="form-editcard" method="POST">
        <div id="form-editcard-teacher">
                <div style="display: flex; justify-content: center;">
                    <h1>Card</h1>
                    <button type="button" id="form-delete" class="button-icon">
                        <i class='bi bi-trash-fill'></i>
                    </button>
                </div>
                <h4>Title</h4>
                <input type="text" name="card-title" id="card-title" placeholder="Title">
            </div>
            <div class="none" id="form-editcard-student">
                <h1>Card</h1>
                <br>
                <span><strong>Grade: </strong>0/0</span>
            </div>
            <h1>Questions</h1>
            <ol >
                <li>
                    <div >
                        Questao 1 referente ao talt atal?
                        <a href="">Edit</a>
                        <div>
                            <input type="radio" name="question1" id="question1a">
                            <label for="question1a">Sim, mas</label>
                            <br>
                            <input type="radio" name="question1" id="question1b">
                            <label for="question1a">Nao, mas</label>
                            <br>
                            <input type="radio" name="question1" id="question1c">
                            <label for="question1a">Talvez, mas</label>
                            <br>
                            <input type="radio" name="question1" id="question1d">
                            <label for="question1a">Sim e Não, mas</label>
                        </div>
                    </div>
                </li>
            </ol>
            <button type="button" class="none" id="card-add-question">+ add question</button>
            <div style="display: flex; align-items: center; flex-direction: column; margin: 20px 0 8px 0;">
                <input type="submit" value="Confirm">
                <button type="button" id="form-cancel">Cancel</button>
            </div>
        </form>
    </div>    
</div>    
{% endblock %}
{% block script %}
    <script src="{% static 'kanban/js/course.js' %}"></script>
{% endblock %}