{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link href="{% static 'kanban/css/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        {% if user.is_authenticated %}
            <div class="sidebar">
                <div class="sidebar-logo">
                    <span class="proj-title-s1">K</span><span class="proj-title-s2">TEACH</span>
                </div>
                <span>Logged as {{ user.username }}</span>
                <div class="hr"></div>
                <button>
                    <a href="{% url 'dashboard' %}">DASHBOARD</a>
                </button>
                <button>
                    <a href="{% url 'dashboard' %}">MY PERFIL</a>
                </button>
                <button>
                    <a href="{% url 'findcourse' %}">FIND COURSE</a>
                </button>
                <button>
                    <a href="{% url 'createcourse' %}">CREATE COURSE</a>
                </button>
                <button>
                    <a href="{% url 'logout' %}">LOGOUT</a>
                </button>
            </div>
        {% endif %}
        <div class="content">
            {% if user.is_authenticated %}
                <div class="proj-title"><span class="proj-title-s1">K</span><span class="proj-title-s2">TEACH</span></div>
            {% endif %}
            {% block body %}
            {% endblock %}
        </div>
        {{ request.user.username|json_script:"user" }}
        {% block script %}
        {% endblock %}
    </body>
</html>