{% extends "kanban/layout.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'kanban/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="login">
    <div>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h2>Sign in</h2>
            <input type="text" name="username" placeholder="Enter your username" autofocus>
            <input type="password" name="password" placeholder="Enter you password">
            <br>
            <input type="submit" value="Sign in">
            {% if message %}
                <div class="msg-error"><p>{{ message }}</p></div>
            {% endif %}

            <p>Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
        </form>
        <div id="login-img">
            <img src="../../static/kanban/Creativity-amico.png" alt="" width="400px">
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}