{% extends "kanban/layout.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'kanban/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="login">
    <div>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <h2>Register</h2>
            <input type="text" name="username" placeholder="Enter your username" autofocus>
            <input type="text" name="fname" placeholder="Enter your first name">
            <input type="text" name="lname" placeholder="Enter your last name">
            <input type="text" name="email" placeholder="Enter you email">
            <input type="password" name="password" placeholder="Enter you password">
            <input type="password" name="confirmation" placeholder="Cofnrim your password">
            <br>
            <input type="submit" value="Confirm">
            {% if message %}
                <div class="msg-error"><p>{{ message }}</p></div>
            {% endif %}

            <p>Already have an account? <a href="{% url 'login' %}">Click here.</a></p>
        </form>
        <div id="login-img" style="background-color: #FFA0A0;">
            <img src="../../static/kanban/Creativity-amico.png" alt="" width="400px">
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}